@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* color */
/* $blue-dark: #084c62;
$blue-light: #0b558c;
$orange: #b34e26; */

/* font */
.typo-playfair {
  font-family: 'Playfair Display', serif;
}

#__next {
  /* layout */
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  /* background grid */
  background-size: 6rem 4rem;
  background-image: linear-gradient(to right, #f0f0f0 1px, rgba(0, 0, 0, 0) 1px),
    linear-gradient(to bottom, #f0f0f0 1px, rgba(0, 0, 0, 0) 1px);

  /* default text color */
  /* color: #64748b; */

  /* d */
  font-family: 'Lato', sans-serif;

  /* z-index: -1; */
}
main {
  flex: 1 1 0%;
}
.custom-background-vision {
  position: fixed;
  width: 100%;
  z-index: -1;
  pointer-events: none;
  background-image: radial-gradient(#fff, rgba(255, 255, 255, 0));
  /* background-image: radial-gradient(#da0707, rgba(224, 4, 4, 0)); */

  aspect-ratio: 1/1;
  inset: 0;
  margin: auto;
}

/* custom box shadow */
.custom-shadow-xs {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* blockquote*/
blockquote {
  font-size: 1.4em;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;

  line-height: 1.6;
  position: relative;
  background: #ededed;
}

.custom-blockquote-border {
  border-top: 8px solid #0b558c;
}

blockquote::before {
  font-family: Arial;
  content: '\201C';
  color: #0b558c;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

@media (min-width: 768px) {
  .custom-blockquote-border {
    border-top: 0;
    border-left: 8px solid #0b558c;
  }
}
